<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITwoWayAsync">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ITwoWayAsync1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsprod.teleplan.com/FB_TesterProcess/FB_DataUpload.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync"
                contract="ServiceReference1.FB_DataUpload" name="WSHttpBinding_ITwoWayAsync" />
            <endpoint address="https://wsprod.teleplan.com/FB_TesterProcess/FB_TesterData.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync1"
                contract="ServiceReference2.FB_TesterData" name="WSHttpBinding_ITwoWayAsync1" />
        </client>
    </system.serviceModel>
</configuration>